<div class="about_background">
    <div class="about_form">
        <div class="about_first-form">
            <div class="about_sublime">
                <a id="about"></a>
                <h2><span>A</span>bout</h2>
                <h1><span>S</span>ublime</h1>
            </div>

            <div class="about_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla
                    pellentesque et nisi
                    et euismod. Pellentesque quis tristique magna.
                </p>
                <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
                    molestie tincidunt
                    rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit
                    non, vehicula
                    lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas est risus, tristique volutpat
                    sagittis vel,
                    feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula.
                    Mauris vitae
                    ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna,
                    sed
                    aliquam lectus
                    egestas eu</p>
            </div>
        </div>
        <div class="about_blocks">
            <div class="about_block">
                <img src="../../images/jstick.jpg" alt="">
                <h3>App Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla
                    pellentesque et nisi
                    et euismod. Pellentesque quis tristique magna.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla
                    pellentesque et nisi
                    et euismod. Pellentesque quis tristique magna.
                </p>
            </div>
            <div class="about_block">
                <img src="../../images/jstick.jpg" alt="">
                <h3>Game Design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla
                    pellentesque et nisi
                    et euismod. Pellentesque quis tristique magna.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla
                    pellentesque et nisi
                    et euismod. Pellentesque quis tristique magna.
                </p>
            </div>
            <div class="about_block">
                <img src="../../images/jstick.jpg" alt="">
                <h3>Content Creation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla
                    pellentesque et nisi
                    et euismod. Pellentesque quis tristique magna.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla
                    pellentesque et nisi
                    et euismod. Pellentesque quis tristique magna.
                </p>
            </div>
        </div>
    </div>
</div>