<div class="blogs_form">
    <a id="blogs"></a>
    <h2><span>B</span>logs</h2>
    <div class="blogs_text">
        <p>Latest Posts</p>
        <p>App Design</p>
        <p>App Development</p>
        <p>Design Solutions</p>
        <p>Quality Assurance</p>
        <p>Development Mode</p>
        <p>What’s Out There</p>
    </div>
    <div class="blogs_news">
        <div class="blogs_boxes">
            <img src="../../images/Blogs_1.png" alt="">
            <p>July 4th 2016
            </p>
            <p>Lorem ipsum dolor sit amet,</p>
            <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
                Nulla facilisis molestie dignissim.</p>
        </div>
        <div class="blogs_boxes">
            <img src="../../images/Blogs_2.png" alt="">
            <p>June 20th 2016</p>
            <p>Lorem ipsum dolor sit amet,</p>
            <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
                Nulla facilisis molestie dignissim.</p>
        </div>
        <div class="blogs_boxes">
            <img src="../../images/Blogs_3.png" alt="">
            <p>May 6th 2016</p>
            <p>Lorem ipsum dolor sit amet,</p>
            <p>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
                Nulla facilisis molestie dignissim.</p>
        </div>
    </div>
</div>