<footer>
    <div class="footer_cover">
        <a id="clients"></a>
        <div class="footer_form">
            <div class="footer_nav">
                <h2>Sublime</h2>
                <a href="#home">HOME</a>
                <a href="#about">ABOUT SUBLIME</a>
                <a href="#works">OUR WORKS</a>
                <a href="#services">SERVICES</a>
                <a href="#team">TEAM</a>
                <a href="#testimonials">TESTIMONIALS</a>
                <a href="#blogs">BLOG</a>
                <a href="#clients">CLIENTS</a>
                <a href="#contactus">CONTACT US</a>
            </div>
            <div class="footer_content">
                <h2><span>We</span> create
                    Awesome Games</h2> 
            </div> 
        </div>
    </div>
</footer>

</body>

</html>