<header class="header">

</header>


<div class="header_form">
    <div class="container">
        <a id="home"></a>
        <h1> <span>S</span>ublime </h1>
        <p class="header_form-p"> <span>S</span>ublime: A one page responsive wordpress theme
            suitable for any kind of business representation.</p>
        <span>Download the psd.</span>
    </div>
    <div class="header_image-content">
        <h2> <span>We</span> create Awesome Games </h2>
        <ul>
            <a href=""><span>About</span></a>
            <a href=""><span>Development</span></a>
            <a href=""><span>Projects</span></a>
            <a href=""><span>Blog</span></a>
        </ul>
    </div>

</div>