<div class="projects_form">

    <div class="projects_title">
        <a id="works"></a>
        <h1><span>F</span>eatured<span>P</span>rojects</h1>
        <ul>
            <a href="">ALL WORKS</a>
            <a href="">GAMES</a>
            <a href="">APPLICATIONS</a>
            <a href="">CONTENT DEVELOPMENT</a>
        </ul>
    </div>
    <div class="projects_images">
        <img src="../../images/FeaturedPr_1.png" alt="">
        <img src="../../images/FeaturedPr_2.png" alt="">
        <img src="../../images/FeaturedPr_3.png" alt="">
        <img src="../../images/FeaturedPr_4.png" alt="">
        <img src="../../images/FeaturedPr_5.png" alt="">
        <img src="../../images/FeaturedPr_6.png" alt="">
        <img src="../../images/FeaturedPr_7.png" alt="">
        <img src="../../images/FeaturedPr_8.png" alt="">
    </div>
</div>