<div class="services_form">
    <a id="services"></a>
    <div class="services_title">
        <h2> <span>S</span>ervices <span>P</span>rovided</h2>
    </div>
    <div class="services_content">
        <div class="services_content-boxes">
            <h3>App Development</h3>
            <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
                molestie tincidunt
                Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
                molestie tincidunt</p>
        </div>
        <div class="services_content-boxes">
            <h3>App Design</h3>
            <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
                molestie tincidunt
                Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
                molestie tincidunt</p>
        </div>
        <div class="services_content-boxes">
            <h3>Game Development</h3>
            <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
                molestie tincidunt
                Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
                molestie tincidunt</p>
        </div>
        <div class="services_content-boxes">
            <h3>Game Design</h3>
            <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
                molestie tincidunt
                Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
                molestie tincidunt</p>
        </div>
    </div>
</div>