<div class="strategicprocess_form">
    <a id="strategicprocess"></a>
    <div class="strategicprocess_title">
        <h2><span>S</span>trategic <span>P</span>rocess</h2>
        <p class="strategicprocess_italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis
            molestie dignissim. Nulla
            pellentesque et nisi
            et euismod. Pellentesque quis tristique magna.</p>
        <p class="strategicprocess_regular">Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur
            diam. Suspendisse justo sem,
            molestie tincidunt
            rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non,
            vehicula
            lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas est risus, tristique volutpat
            sagittis vel,
            feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris
            vitae
            ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed
            aliquam lectus
            egestas eu. Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo
            sem,
            molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida,
            tempor velit
            non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas est risus, tristique
            volutpat
            sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut
            ligula.
            Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus
            urna, sed
            aliquam lectus egestas eu.</p>
    </div>
    <div class="strategicprocess_content">
        <div class="strategicprocess_boxes">
            <img class="strategicprocess_fire" src="../../images/StrategicPr_1.png" alt="">
            <div class="strategicprocess_boxes-text">
                <h2><span>O</span>ur <span>P</span>rocess</h2>
                <p class="strategicprocess_italic" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla
                    pellentesque et nisi
                    et euismod. Pellentesque quis tristique magna.</p>
                <p >Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
                    molestie tincidunt
                    rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit
                    non, vehicula
                    lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu</p>
            </div>
        </div>
        <div class="strategicprocess_boxes">
            <div class="strategicprocess_boxes-text">
                <h2> <span>M</span>ethod</h2>
                <p class="strategicprocess_italic" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla
                    pellentesque et nisi
                    et euismod. Pellentesque quis tristique magna.
                </p>
                <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
                    molestie tincidunt</p>
            </div>

            <img class="strategicprocess_stone" src="../../images/StrategicPr_2.png" alt="">
        </div>
        <div class="strategicprocess_boxes">

            <img src="../../images/StrategicPr_3.png" alt="">
            <div class="strategicprocess_boxes-text">
                <h2> <span>O</span>utcome</h2>
                <p class="strategicprocess_italic" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim.
                    Nulla
                    pellentesque et nisi
                    et euismod. Pellentesque quis tristique magna.</p>
                <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo
                    sem,
                    molestie tincidun</p>
            </div>
        </div>
    </div>
</div>