<div class="team_form">
    <div class="team_content">
        <div class="team_content-logos">
            <div class="team_content-title">
                <a id="team"></a>
                <h2> <span>O</span>ur <span>T</span>eam</h2>
                <div class="team_content-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim.
                        Nulla
                        pellentesque et nisi
                        et euismod. Pellentesque quis tristique magna.
                    </p>
                    <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo
                        sem,
                        molestie tincidunt</p>
                </div>
            </div>
        </div>
        <div class="team_content-img">
            <div class="team_content-img-box">
                <img src="../../images/Team_1.png" alt="">
                <p>John Doe</p>
                <p>CoFounder / CEO</p>
            </div>
            <div class="team_content-img-box">
                <img src="../../images/Team_2.png" alt="">
                <p>James Wick</p>
                <p>process Manager</p>
            </div>
            <div class="team_content-img-box">
                <img src="../../images/Team_3.png" alt="">
                <p>Kimbo Slice</p>
                <p>Sales President</p>
            </div>
            <div class="team_content-img-box">
                <img src="../../images/Team_4.png" alt="">
                <p>Excant Bruno</p>
                <p>Developer</p>
            </div>
        </div>
    </div>
</div>