<div class="testimonials_form">
    <a id="testimonials"></a>
    <h2><span>T</span>estimonials</h2>
    <div class="testimonials_content">
        <div class="testimonials_content-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla
                pellentesque et nisi
                et euismod. Pellentesque quis tristique magna</p>
            <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
                molestie tincidunt</p>
        </div>
        <div class="testimonials_content-box">
            <img src="../../images/Testimonials_man.png" alt="">
            <p>John Doe</p>
            <p>CoFounder / CEO</p>
        </div>
    </div>
</div>